@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik:ital@1&family=Source+Sans+3:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Overlock:ital,wght@1,700&family=Patrick+Hand&family=Rubik:ital@1&family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Overlock:ital,wght@0,700;1,400&family=Patrick+Hand&family=Rubik:ital@1&family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Overlock:ital@1&family=Patrick+Hand&family=Rubik:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

body{
    overflow: auto;
}

.Header{
    background-image: linear-gradient(rgb(80, 210, 253), rgb(80, 141, 255));
}

.header-item{
    width: 310px;
    margin:0  auto;
}

.header-item img{
    width: 310px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
    margin: 0 auto;
    margin-top: 130px;
}

.header-content{
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

.header-content .content-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: bold;
    font-size: 17px;
}

.content-header p{
    font-size: 23px;
    margin-top: 15px;
}

.header-footer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 70px;
    box-sizing: border-box;
}
.header-a{
    padding: 13px;
    box-sizing: border-box;
}
.header-link i{
    font-size: 40px;
    color: aliceblue;
}

 /* CONTENT */

 .content{
     background-color: blueviolet;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.content-list{
    width: 620px;
    margin: 0 auto;
}

.content-item{
    /* margin-top: 70px; */
}

.content-heeader, .content-text{
    text-align: center;
}

.content-heeader{
    padding-top: 70px;
    font-style: italic;
    font-family: 'Overlock', cursive;
    letter-spacing: 0.9px;
    color: #fff
}
.content-text{
    font-family: 'Arial', serif;
    line-height: 24px;
    font-size: 15px;
    padding-bottom: 80px;
    box-sizing: border-box;
    margin-top: 20px;
    color: #fff
}


            /* CONTENT DATE */

            
.content-date{
    background-image: url(./photo-1604991274937-b93f0c37f5e9.jpg);
    background-size: 1349px 650px;
    padding: 80px 0 80px 0;
}            

.content-date-list{
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.85;
    padding: 45px 0 50px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}            

.content-date-content{
    width: 700px;
    margin: 0 auto;
}

.content-date-h1{
    font-style: italic;
    font-family: 'Overlock', cursive;
    letter-spacing: 0.9px;
    color: #000;
    text-align: center;
}

.content-date-p{
    font-family: 'Arial', serif;
    line-height: 24px;
    font-size: 16px;
    color: #000;
    padding-top: 40px;
}

        /* SECTION */

.section-list{
    width: 920px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.section-item1{
    text-align: center;
    font-family: 'Overlock', cursive;
    font-style: italic;
    padding-top: 70px;
}
.section-p{
    font-family: 'Overlock', cursive;
    font-style: italic;
    font-weight: 100;
    padding-top: 25px;
    text-align: center;
    font-size:large;
}
.section-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.section-item2{
    padding: 0 30.5px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.item2-container{
    padding-top: 15px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
    
}
.item2-header img{
    display: block;
    margin: 0 auto;
}
.section-item2 a{
    text-decoration: none;
}

.section-footer{
    font-family: 'Overlock', cursive;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-size:large;
}

       /* Iframe */

.Iframe{
    background-image: url(./1299422268-2vnhw81.jpg);
}
.iframe-header{
    text-align: center;
    font-family: 'Overlock', cursive;
    font-style: italic;
    padding-top: 70px;
    color: #fff;
}
.iframe-iframe1{
    padding-top: 50px;
}
.iframe-footer{
    text-align: center;
    font-family: 'Overlock', cursive;
    font-style: italic;
    padding-top: 40px;
    color: #fff; 
    padding-bottom: 80px;
}

        /* MASSAGE */

.Massage{
    background-image: linear-gradient(rgb(80, 210, 253), rgb(80, 141, 255));
    padding-top: 80px;
    padding-bottom: 80px;
}
.massage-list{
    width: 650px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.massage-header{
    text-align: center;
    font-family: 'Overlock', cursive;
    font-style: italic;
}
.massage-header-text{
    padding-top: 20px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.8px;
}
.form{
    width: 456px;
    margin: 0 auto;
    padding-top: 50px;
}
.forma label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15.5px;
}
.inputFields{
    width: 455px;
    height: 40px;
    border: 2px solid black;
    margin-top: 5px;
}
.forma li{
    padding-bottom: 25px;
    position: relative;
}
.xabar{
    width: 455px;
    height: 200px;
    border: 2px solid black;
}
.chekbox{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2.0px;
}
.label{
    position: absolute;
    left: 20px;
}
.btn{
    width: 455px;
    height: 40px;
    background-color: rgb(80, 141, 255);
    border: none;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    cursor: pointer;
}
.lineyka{
    width: 300px;
    border: 2px solid black;
    margin: 0 auto;
}
.massage-p{
    text-align: center;
    font-size: 19px;
}
.massage-social{
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
    padding-bottom: 50px;
}
.massage-social a{
    padding: 0 5px 0 0;
}
.footer-list{
    width: 970px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 90px;
}
.footer-header{
    text-align: center;
    font-family: 'Overlock', cursive;
    font-style: italic;
}
.footer-content{
    padding-top: 40px;
    width: 970px;
    margin: o auto;
    display: flex;
    text-align: center;
}
.f-content-container{
    padding-top: 10px;
}